extends ../layouts/common

block content
    h1 User
    form(action="/users/search", method="get")
        input(type="text", name="q")
        button search
    table.table
        thead
            tr
                th Avatar
                th(scope='col') Name
                th(scope='col') Phone
                th(scope='col') Actions
        tbody
            each user in users
                tr
                    td
                        img(src=user.avatar, width='80' height='80', class='rounded-circle')
                    td(scope='row')= user.name
                    td= user.phone
                    td
                        a(href="/users/" + user.id) view
